/*#region Reset e base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*#endregion*/
@font-face {
  font-family: 'Tormenta';
  src: url('../fonts/Tormenta.ttf') format('truetype');
}

/*#region NumberInputfix */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
   margin: 0;
}
/*#endregion  */

select {
  -webkit-appearance: none; 
  -moz-appearance: none;     
  appearance: none;    
  background: #dde4ff  no-repeat right 8px center;
  background-size: 10px;
  padding-right: 20px; 
  height: 20px;
  text-align: center
}

input {
  padding: 0.4rem 0.6rem;
  margin: 0.3rem;
  padding: -10;
  border: 1px solid #ccc;
  border-bottom: 2px solid black;
  text-align: center
  
}
