:root {
  --inputs: #dde4ff;
  --shadow:  #b62a2a;
}

body{
    overflow-y: auto;
    align-items: center;
}

label, h1, legend, strong{
    font-family: 'Tormenta.ttf', serif;
    font-weight: bold;
  background: url(../src/whiteLine.png) no-repeat center center;
  background-size: 98% 4px ;
}
legend{text-align: center}
.logo{
  width: 370px;
  height: auto;

}

.inputLabel {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
 
  padding: 2px 6px;
}
fieldset{
    border: none;
    width: 100%;
}
input[readonly] {
  background-color: #fff;
}
input, textarea, select{
  background-color: #dde4ff;
}

input:focus, textarea:focus, select:focus{
    outline: none;
  box-shadow: none;
  background-color: #fff;
}
  
textarea{
  width: 100%;
  resize: none;
}

.squareInput {
  width: 68.5px;
  height: 50px;
  font-size: 2.6em;
  font-weight: 600;
  text-align: center;
  border: none;
  box-sizing:content-box;
}


/*#region grid organization*/

.cabecalho {
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  width: 80%;
  max-width: 1000px; /* ou o limite desejado */
  margin: 0 auto;
  padding: 0 0px; /* respiro lateral */
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 100px);
  grid-auto-rows: 100px;
  gap: 10px;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0px;
  box-sizing: border-box;
}

.box {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  padding: 10px;
  box-shadow: 5px 5px 0px #b62a2a;
  position: relative;
  display: flex;
  flex-direction: column;

}

.box1  {grid-column: 1; grid-row: 1/10;}

.box2A { grid-column: 1; grid-row: 1; }
.box2B { grid-column: 2; grid-row: 1; }
.box2C { grid-column: 3; grid-row: 1; }
.box2D { grid-column: 4; grid-row: 1; }
.box2E { grid-column: 5; grid-row: 1; }
.box2F { grid-column: 6; grid-row: 1; }


.box3 { grid-column: 1 / 7; grid-row: 2; }
.box4 { grid-column: 1 / 7; grid-row: 3/5; }

.box5A {grid-column: 1 / 2; grid-row: 5;}
.box5B {grid-column: 2 / 4; grid-row: 5;}
.box5C {grid-column: 1 / 4; grid-row: 6;}


.box6 { grid-column: 4/7; grid-row: 5/7; }
.box7 { grid-column: 7/11; grid-row: 1/8; }
.box8 { grid-column: 1/7; grid-row:7/12; }
.box9 { grid-column: 7/11; grid-row: 8/12; }
/*#endregion*/

/*#region Multiple boxes effect*/



#hpMp, #attacks, #armorShield{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; 
  height: 100%;
  width: 100%;
  gap: 10px;

}

.box4, .box6 fieldset,.box8 fieldset, .box9 fieldset{
  overflow-y: auto;
}
.box4 thead th, .box9 thead th {
  position: sticky;
  top: 0;
  background-color: #fff;
}
.box4 thead th{
top: -6%;
}

#equipment, #effects {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  gap: 10px;
}



#equipment fieldset,
#effects fieldset {
  position: relative;
  top: -10%;
}
/*#endregion Multiple boxes effect*/

/*#region Box1*/
.box1 {
  margin: 0 auto;
  background-color: transparent;
  border: none;
  box-shadow: none;
  max-width: 1000px;
  width: 100%;
  box-sizing: border-box;
}


.box1 input{
  border: 2px solid black;
  box-shadow: 5px 5px 0px #b62a2a;
  font-weight: bolder;
  font-size: 1.2em;
}
#chracter{
  width: 425px;
  height: 65px;
  font-size: 1.9em;

}
#player{
  width: 250px;
  height: 40px;
}

.box1 #level {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
}

.box1B{
  display: flex;
}
.info1 label{
  position: relative;
}

.info1{
  display: flex;
  flex-direction: column;
}
.info1 input{
  width: 200px;
  height: 40px;
}

/*#endregion*/

/*#region Box2*/
.box2A label,.box2B label,.box2C label,.box2D label,.box2E label,.box2F label {
  margin-top: -3px;
}

/*#endregion Box2*/

/*#region Box3*/
#hpBlock,
#mpBlock{
  position: relative;
  top: -25%;


  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  border: none;
}
.box3 label{ margin-top: 13px; }

.statBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  text-align: center;
}

#pva, #pma{
   border: 1px solid #ccc;
}
/*#endregion box3*/

/*#region box4*/
#attacks table td:not(:first-child) input {
  width: 90%;
}
/*#endregion box4*/

/*#region box5*/
.box5A label{
  margin-top: -2px;
}
.box5A::after {
  content: "=10";
  position: absolute;
  top: 50%; 
  left: 100%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 14px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
/*5B 5C Compartilhada*/
.box5B table,
.box5C table {
  width: 100%;
  border-collapse: collapse;
    position: relative;
  top: -20%;

}

.box5B thead th,
.box5C thead th {
   padding: 4px 6px;
  vertical-align: middle;
  font-size: 8px;       
  padding: 4px 6px;       
}
/*5B*/
.box5B {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  padding: 4px;
}

.box5B > input[type="checkbox"] {
  margin-top: 30px; /* alinhar com os inputs */
}

.box5B table {
  width: 100%;
   table-layout: fixed;
  border-collapse: collapse;
}

.box5B th:nth-child(1),
.box5B td:nth-child(1) {
  width: 7%;

}

.box5B th:nth-child(n+2),
.box5B td:nth-child(n+2) {
  width: 15%;
}

.inputWithPlus {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.inputWithPlus input {
  width: 32px;
  height: 32px;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;

  padding: 0;
}
.box5B select {
  margin: 0;      
  padding: 2px 4px;  
  font-size: 12px;   
  width: 100%;       
  box-sizing: border-box;
}

 /*5C*/

.box5C tbody input{
  width: 100%; 
  box-sizing: border-box;
  height: 30px;
  
}

.box5C td{
 padding-left: 5px;
}
.box5C th:nth-child(1){
  text-align: start;
  font-size: 12px;

}

.box5C th:nth-child(1),
.box5C td:nth-child(1) {
  width: 60%;
}

.box5C th:nth-child(n+2),
.box5C td:nth-child(n+2) {
  width: 13.3%;
  align-items: center;
}

/*#endregion*/

/*#region box6*/
.box6 div{
  position: relative;
  top: -3%;
}
.box6 legend{
  font-size: .75em;
  margin-bottom: 2px;
}
.box6 textarea{
    height: 190px;
 
}
/*#endregion box6*/

/*#region Box7*/
.box7{
    height: 100%;
    width: 400px;
    align-items: center;
    justify-content: flex-start; 

}
.box7 strong{font-size: 1.2em;}

#skills {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-y: auto;
}
#skills input, #skills select{
  width: 30px;
  font-size: 15px;
  padding: 0px;
  margin: -10px;
}
#skills p { font-size: 1.2em; }
/*Adiciona efeites pontuais nas skills + =*/
.totalIgual::after {
  content: " =";
  margin-left: 8px;
  color: black;
  font-weight: bold;
}

.maisOutros::before {
  content: "+";
  margin-right: 8px;
  color: black;
  font-weight: bold;
}
#skills table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 13px
}
#skills th{
  background-color: white;
  font-size: 12px;
  white-space: nowrap;
  font-weight: bold;
  position: sticky;
  top: 0;
}
#skills th,
#skills td {
  padding: 2px;
  margin: 0;
  text-align: left;
}
#skills td:first-child,
#skills th:first-child {
  width: 3%; 
  padding: 0;
}
.box7 th:nth-child(2),
.box7 td:nth-child(2) {
  width: 150px;
}

/*Ajustes no cabecalho de pericias*/
.box7 th:nth-child(3){ transform: translateX(-12px); }
/* 1/2 */
.box7 th:nth-child(4){ transform: translateX(-5px); }
/* Atributo */
.box7 th:nth-child(5){ transform: translateX(-22px);}
/* Treino */
.box7 th:nth-child(6){transform: translateX(-13px);}

.box7 th:nth-child(7){transform: translateX(-13px); z-index: 1;}

/*Ajuste no corpo das pericias*/
.box7 th:nth-child(1){ z-index: 1; }
.box7 td:nth-child(7){transform: translateX(-15px);}

.totalIgual input{
border: 2px solid black;
font-weight: bold;
font-size: 12px;
}

.box7 small{
  width: 100%;
  display: block; 
  text-align: center; 
  margin-top: 8px; 
 background-color: white;
  position: sticky;
  bottom: 0;
}

/* Estrela = Somente Treinado */
p.treinada, p.penalidade {
  display: inline;      
  white-space: nowrap;  
 
}
p.treinada.penalidade::after {
  content: " ✯ ✠";
}

p.treinada::after, p.penalidade::after {
  content: attr(data-symbol);
  font-size: 0.75em;
  color: black;
  font-weight: 100;
  margin-left: 4px;
  vertical-align: middle;
}

/*#endregion*/

/*#region box8*/

.box8-content{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 18px;
}
.box8 fieldset{
  height: 100%;
  width: 100%;
}
.box8 textarea{
  height: 518px;
  width: 310px;
}

/*#endregion box8*/

/*#region box9*/
.box9{
   width: 400px;
}
.box9 table{
  position: relative;
  top: 0%;
}

.box9 th:nth-child(1),
.box9 td:nth-child(1) {
  width: 100%;
  padding-right: 30px;
  text-align: start;
}

.box9 th:nth-child(n+2),
.box9 td:nth-child(n+2) {
  width: 13.3%;
  
  text-align: center;
}
.box9 span{
  background-color: #dde4ff;
  border-left: none;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 2px solid black;
  height: 40px;
}
.box9 span p{
  margin-top: 8px;
}

#equipment input[type="text"] {
  width: 200px;
  box-sizing: border-box;
}

.moneyInput {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.moneyInput span{
  margin-left: -10px;
}
.moneyInput input{   border-right: none;}

#equipment input[type="number"] {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
}

#equipment .moneyInput input,
#money input {
  width: 60px;
}


.footerBox9 {
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: flex-end;  
  align-items: center;

  padding-bottom: 15px ;
  margin-top: auto;
  box-sizing: border-box;
}

.footerBox9 label {
  font-weight: bold;
  font-size: 12px;
}

.footerBox9 input {
  width: 60px;
  height: 30px;
  text-align: center;
}
/*#endregion box9*/

@media (max-width:900px){
  .cabecalho{
    margin-left: 20px;
  }
}
